 
  
body {
     background-color: #d5e9ef;
     background-image: url(http://api.3ewl.cc/acg/img.php);!important;
     background-repeat: no-repeat; 
     background-size: cover;
     background-attachment: fixed; 
	
    color: black;
    font-size: 15px;
}


#myweb{
	width: 1000px;
     margin: auto;
 	z-index: 1;
}

#up{
	background: white;
    padding:10px;
    margin-top: 20px ;
    margin-bottom: 30px;
    border:3px black double;
    	 filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
}
#up a{
	color:black;
	font-size:30px;
	text-decoration:none;
}





#left{
	width:795px;
	float:left;
}


#left_in{
	color: white;
    width:773px;
    float: left;
    padding:10px;
    margin-bottom: 200px;
}

#index{
	    background-color:white;
    		border: 1px black dotted;
    		height: 100px;
   		padding:10px;
    		margin-top: 10px ;
    		margin-bottom: 10px ;
    		filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
}

#index a{
	color:black;
	text-decoration:none;
	font-size: 25px;

}

#index a:hover {
    color: #555;
}


#right{
	width:195px;
	float:right;
}

#right_in{
	background-color:white;
	border: 1px black dotted;
	width:173px;
	float:right;
    padding:10px;
    margin-bottom: 10px;
    	 filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
}

#right_in a{
	color:black;
	text-decoration:none;
}

#right_in a:hover {
    color: #555;
}

