 
body {
    background: white;
    color: black;
    font-size: 15px;
}


#myweb{
	width: 1050px;
     margin: auto;
}

#up{
    width:1000px;
    padding:10px;
    margin: auto;
    margin-top: 20px ;
    margin-bottom: 20px;
    border:3px black double;
}
#up a{
	color:black;
	font-size:30px;
	text-decoration:none;
}


#left{
    background-color:white;
    	border: 1px black dotted;
    width:800px;
    float: left;
    padding:10px;
    margin:auto;
}
#code{
		overflow: scroll;
}

#index{
	    background-color:white;
    		border: 1px black dotted;
    		height: 100px;
    		width:750px;
   		padding:10px;
    		margin: auto;
    		margin-top: 10px ;
    		margin-bottom: 10px ;
}

#index a{
	color:black;
	text-decoration:none;
}

#index a:hover {
    color: #555;
}









#right{
	background-color:white;
	border: 1px black dotted;
	width:200px;
	float:right;
    padding:10px;
    margin: auto;
}

#right a{
	color:black;
	text-decoration:none;
}

#right a:hover {
    color: #555;
}
