 

  
body {
     background-color: rgb(233, 237, 255);
	
    color: black;
    font-size: 15px;
}
 
#myweb{
	width: 100%;
     filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
}

#up{
	background: white;
    padding:10px;
    margin-top: 20px ;
    margin-bottom: 30px;
    border:3px black double;
}
#up a{
	color:black;
	font-size:30px;
	text-decoration:none;
}





#left{
	width:79.5%;
	float:right;
}


#left{
	background: white;
    	border: 1px  black dotted;
    width:77.3%;
    float: left;
    padding:1%;
    margin-bottom: 20%;
}

#left_in{
	background: white;
    	border: 1px black dotted;
    width:99%;
    float: left;
    padding:1%;
    margin-bottom: 200px;
}

#index{
	    background-color:white;
    		border: 1px black dotted;
    		height: 10%;
   		padding:10px;
    		margin-top: 10px ;
    		margin-bottom: 10px ;
}

#index a{
	color:black;
	text-decoration:none;
	font-size: 25px;
}

#index a:hover {
    color: #555;
}







#right{
	width:19.5%;
	float:right;
}

#right_in{
	background-color:white;
	border: 1px black dotted;
	width:99%;
	float:right;
    padding:1%;
    margin-bottom: 10px;
}

#right_in a{
	color:black;
	text-decoration:none;
}

#right_in a:hover {
    color: #555;
}

