 
  
body {
     background-color: #d5e9ef;
     background-image: url(http://api.3ewl.cc/acg/img.php);!important;
     background-repeat: no-repeat; 
     background-size: cover;
     background-attachment: fixed; 
	
    color: black;
    font-size: 15px;
}


#myweb{
	width: 1100px;
     margin: auto;
     filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
}

#up{
	background: white;
    padding:10px;
    margin-top: 20px ;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border:3px black double;
}
#up a{
	color:black;
	font-size:30px;
	text-decoration:none;
}


#left{
	background: white;
    	border: 1px black dotted;
    width:850px;
    float: left;
    padding:10px;
    margin:auto;
    margin-left: 10px;
}
#code{
		overflow: scroll;
}

#index{
	    background-color:white;
    		border: 1px black dotted;
    		height: 100px;
   		padding:10px;
    		margin-top: 10px ;
    		margin-bottom: 10px ;
}

#index a{
	color:black;
	text-decoration:none;
	font-size: 25px;
}

#index a:hover {
    color: #555;
}


#right{
	width:180px;
	float:right;
    margin: auto;
}

#right_in{
	background-color:white;
	border: 1px black dotted;
	width:180px;
	float:right;
    padding:10px;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#right_in a{
	color:black;
	text-decoration:none;
}

#right_in a:hover {
    color: #555;
}

