

/**
 * hamburger
 */
.btn-hamburger {
  border: none;
  position: absolute;
  top: -31px;
  left: 10px;
  outline:none;
  background: url('../images/menu.png') no-repeat left center;
}

.tooltip {
  font-size: 20px;
  line-height: 19px;
  display: inline-block;
  background: #4B5 url('../images/happy.png') no-repeat 105px 15px;
  color: #fff;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  position: relative;
  left: 0px;
}


/**
 * Slideout module styles
 */
.menu,
.slideout-menu {
  position: fixed;
  left: 0;
  top: 20px;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  font-size: 30px;
}

.panel,
.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}