
/**
 * hamburger
 */
.btn-hamburger {
  border: none;
  position: absolute;
  top: -100px;
  left: -100px;
  outline:none;
  background: url('../images/menu.png') no-repeat left center;
  z-index: -1;
}

.tooltip {
  font-size: 20px;
  line-height: 19px;
  display: inline-block;
  color: #fff;
  padding: 10px 45px 10px 20px;
  border-radius: 4px;
  position: fixed;
  left: 50px;
  z-index: -1;
}
