@charset "UTF-8";


.menubtn {
position: relative;
    z-index: 101;
    text-decoration: none;
    font-size: 0em;
    line-height: 0em;
padding: 15px;
    background-image: url('../img/hamburger.png');
    background-position: 50% 50%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

/** toggle menu **/
body.openmenu {
width: 0;
position: fixed;
overflow:hidden;
}

#pgcontainer {
margin-bottom:  30px;
}

#hamburgermenu {
width: 0;
position: fixed;
top: 0;
left: 0;
z-index: 102;
overflow:hidden;
-webkit-box-shadow: 300px 0 7px rgba(0,0,0,0.55);
-moz-box-shadow: 300px 0 7px rgba(0,0,0,0.55);
box-shadow: 3px 0 7px rgba(0,0,0,0.55);
}
